/* Space Mono font-family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace, Arial, Helvetica, sans-serif;
  background-color: #1f1b24;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: 85vh;
}

/* Tint filter on image of Product card */
.product-img-container {
  filter: sepia(30%) saturate(100%) brightness(90%);
}

/* Product card animation */
.product {
  transition: all 0.5s ease;
}
.product:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.4s ease;
}

/* Shop-icon and Cart-icon in Navbar */
@media only screen and (max-width: 400px) {
  .shop-icon,
  .cart-icon {
    width: 30px !important;
    height: 30px !important;
  }
}
